# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Jupyter Notebook
*.ipynb_checkpoints/
*.ipynb.backup  # Bỏ qua các file sao lưu .ipynb

# Môi trường ảo
.venv/
venv/
env/
.idea/
*.env

# File hệ thống macOS
.DS_Store

# File log
*.log
*.tmp
temp/

*.jpg
*.png
*.pdf
*.zip
*.tar.gz